a {
    text-decoration: none;
}

nav {
    display: grid;
}

button {
    height: 1.5rem;
    width: 1.5rem;
    margin: 3px;
}

.buttonTemaAzul {
    background: rgba(0, 0, 255, 0.562);
    box-shadow: 0px 0px 4px rgb(4, 172, 250);
}
.buttonTemaPreto {
    background: rgba(0, 0, 0, 0.562);
    box-shadow: 0px 0px 4px rgb(196, 195, 195);
}
.buttonTemaVerde {
    background: rgba(0, 128, 0, 0.562);
    box-shadow: 0px 0px 4px rgb(64, 253, 64);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.boxTittle {
    height: 7rem;
    width: 90%;
    background: var(--gray-200);
    border-radius: 8px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(87, 75, 250, 0.651);
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boxTittle > h1 {
    font-size: 5rem;
}

.boxBody {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1%;
}

.boxBody h1 {
    margin-top: 0.8rem;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(87, 75, 250, 0.651);
}

.boxBody p {
    font-size: 0.7rem;
    text-align: center;
    margin: 1rem;
}

.boxAnalise {
    box-shadow: 0px 0px 10px rgba(87, 75, 250, 0.651);
    background: var(--black);
    border-radius: 8px;
    height: 13rem;
    width: 15rem;
}

.boxInfo {
    box-shadow: 0px 0px 10px rgba(87, 75, 250, 0.651);
    background: var(--black);
    border-radius: 8px;
    height: 13rem;
    width: 15rem;
}

.sectionPrescricao {
    display: grid;
    gap: 2rem;
}

.boxPrescricao {
    box-shadow: 0px 0px 10px rgba(87, 75, 250, 0.651);
    background: var(--black);
    border-radius: 8px;
    height: 3rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 2px 5px rgba(87, 75, 250, 0.651);
}

.boxNutricao {
    box-shadow: 0px 0px 10px rgba(87, 75, 250, 0.651);
    background: var(--black);
    border-radius: 8px;
    height: 13rem;
    width: 15rem;
}